<!DOCTYPE html  >
<html xmlns:th="http://www.thymeleaf.org">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>登录</title>
  <link rel="stylesheet" type="text/css" href="/static/css/login.css"/>
  <link rel="stylesheet" type="text/css" href="/static/css/dailog/dailog.css"/>

</head>
<script th:src="@{/webjars/jquery/3.4.1/dist/jquery.js}"></script>
<script src="/static/js/dailog/zepto.js"></script>
<script src="/static/js/dailog/dailog.js"></script>
<body style="overflow:scroll;overflow-y:hidden">
<!-- 登录body -->
<div class="logDiv">
  <div class="logGet">
    <!-- 头部提示信息 -->
    <div class="logD logDtip">
      <p class="p1">用户登录</p>
    </div>
    <!-- 输入框 -->
    <form id="loginForm">
      <div class="lgD">
        <img class="img1" src="/static/img/logName.png"/>
        <input type="text" placeholder="输入用户账号" name="userNo"/>
        <span class="errorMsg" id="userNoError" ></span>
      </div>
      <div class="lgD">
        <img class="img1" src="/static/img/logPwd.png"/>
        <input type="password" placeholder="输入用户密码" name="password"/>
        <span class="errorMsg" id="passwordError" ></span>
      </div>
      <div class="logB">
        <span>
          忘记密码
        </span>
        <span class="newUser">
          用户注册
        </span>
      </div>
      <div class="logC">
        <button type="submit" id="loginbutton">登 录</button>
      </div>
    </form>
  </div>
</div>
<!-- 登录body  end -->

<!--注册DIV-->
<div class="regDiv" style="">
  <div class="regGet">
    <!-- 头部提示信息 -->
    <div class="regD regDtip">
      <p class="p1">用户注册</p>
      <span class="p2">返回登陆</span>
    </div>
    <!-- 输入框 -->
    <form id="regForm" action="/user/add" method="post">
      <div class="regD">
        <img class="img1" src="/static/img/user.png"/>
        <input type="text" id="regUserName" placeholder="输入用户名" name="userName"/>
        <span id="regNameError" class="errorMsg" ></span>
      </div>
      <div class="regD">
        <img class="img1" src="/static/img/password.png"/>
        <input id="regPWD" type="password" placeholder="输入用户密码" name="password"/>
        <span id="regPWDError" class="errorMsg" ></span>
      </div>
      <div class="regD">
        <img class="img1" src="/static/img/ico-sex.png"/>
        <div class="sexinput">
          <input type="radio" name="sex" value="男" checked>男
          <input type="radio" name="sex" value="女">女
        </div>
      </div>
      <div class="regD">
        <img class="img1" src="/static/img/phone.png"/>
        <input id="regTEL" type="tel" placeholder="电话" name="tel"/>
        <span id="regTELError" class="errorMsg"></span>
      </div>
      <div class="regC">
        <button type="submit">注 册</button>
      </div>
    </form>
  </div>
</div>

<script src="/static/js/page/login.js"></script>

</body>
</html>
